.speech{
    

    font-family: 'Georgia', serif; 
    font-size: 18px; 
    color: black;
}


.direction {
    font-family: 'Courier New', monospace; 
    font-size: 16px; 
    color: black;
    background-color: aquamarine; 
}


.direction:hover {
    background-color :black; 
    color: burlywood; 
}



.mary {
    color: #ff6347; 
}

.ollivant {
    color: #4682b4; 
}

.emily {
    color: #32cd32; 
}



}