.speech{
    font-family: 'Georgia', serif; 
    font-size: 18px; 
    color: black;
}

.direction {
    font-family: 'Courier New', monospace; 
    font-size: 16px; 
    color: black;
    background-color: aquamarine; 
}

.direction:hover {
    background-color :black; 
    color: burlywood; 
}

.NEO {
    color: #ff6347; 
}

.od {
    color: #4682b4; 
}
table{
    width:56%;
    border-collapse: collapse;

}
th,td{
    border:1px solid black;
    padding:8px;
    text-align: center;

}
tr:nth-child(even){
    background-color: aquamarine;
}
.NEO:hover{
    text-shadow: 2px 2px 5px rgb(81, 66, 15);
    border: 2px solid rgb(19, 19, 79); 
    border-radius: 5px; 
    padding: 5px;
}
.od:hover{
    text-shadow: 2px 2px 5px rgb(234, 61, 23);
    border: 2px solid rgb(19, 19, 79); 
    border-radius: 5px; 
    padding: 5px;
}
